<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Coiny|Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
    <script src="/main.js"></script>
</head>
<body>
    <ul class="pokemon">
        <h1>Your Pokemon</h1>
        <%for(let i = 0; i < Pokemon.length; i++) {%>
            <li><a href="http://localhost:3000/pokemon/<%=i%>"><%=Pokemon[i].name%></a></li>
            <a href="/pokemon/<%=i%>/edit"><button type="submit">Edit <%=Pokemon[i].name%></button></a>
            <form action="/pokemon/<%=i%>?_method=DELETE" method="POST">
                <button type="submit">Delete <%=Pokemon[i].name%></button>
            </form>
        <%}%>
        
    </ul>
    <a href="/pokemon/new"><button type="submit">Add New Pokemon</button></a>
</body>
</html>